<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class="centered">
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_live_51OtnAWDMMR4BBETSN7YYtrnkPDgSRseutHhE8RzNFlkQ79jjBU8SwfayMNub1H8nT4n6OWUu5Q38VKgbix45TYec00fSjf3GVI')
                    //('pk_test_51OtnAWDMMR4BBETS1tjV8DSLKLoerkb4nuI8Ji4RQKBftZXJWdz6ERkYhuwIP1HLzatAZ0dZ1CNnqxwjWrpIxWa500LlnoWggy')
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', function() {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        });
                    });
                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>








<!-- <%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/cart.css">

</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <main>
        <ul class="cart__item-list">
            <% products.forEach(p => { %>
                <li class="cart__item">
                    <h1><%= p.productId?.title %></h1>
                    <h2>Quantity: <%= p.quantity %></h2>
                </li>
            <% }) %>
        </ul>
         To shift the totalSum to the center -->
    <!-- <div class="centered"> -->
            <!-- <h2>Total: <%= totalSum %></h2> -->
        <!-- </div> -->
        <!-- Payment procedures -->
        <!-- <div class="centered">
            <button id="order-btn" class="btn">ORDER</button>
            <script src="https://js.stripe.com/terminal/v1/"></script>
            <script>
                var stripe = Stripe('pk_test_51OtnAWDMMR4BBETS1tjV8DSLKLoerkb4nuI8Ji4RQKBftZXJWdz6ERkYhuwIP1HLzatAZ0dZ1CNnqxwjWrpIxWa500LlnoWggy');
                var orderBtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', function() {
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                    });
                });
            </script>
        </div>
    </main>
    <%- include('../includes/end.ejs')%>
pk_test_Oa1aEfV1EFTGOLJHIkx6mFUs00AtOsluFy --> -->